/*Friend Box*/

.friendBoxPreviewElement{
    display: inline-block;
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
    position: relative;
}

.friendBoxAside{
    margin-top: 5%;
    width: 92%;
}

.friendsBoxList{
    padding: 0 !important;
    margin-bottom: 0;
}

.friendBoxPreviewImage{
    width: 100% !important;
}

.friendBoxPreviewElement{
    border: 1px solid #000000;
    border-top: 0;
}

.friendBoxPreviewElement:nth-of-type(-n+3){
    border-top: 1px solid #000000;
}

.friendsBox{
    width: 23%;
    float: right;
    right: 5%;
    position: relative;
}

.friendFriendsBox{
    width: 36.3%;
    float: right;
    right: 0 !important;
    position: relative;
    padding: 12px !important;
}

.friendsTitle{
    font-weight: bold;
    display: inline-block;
    color: #3a3a3a !important;
    text-decoration: none !important;
}

.friendsCount{
    text-align: center;
}

.friendsCountLink:hover{
    color: #000000 !important;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.friendsTotalCount{
    color: #000000 !important;
}

.friendName{
    position: absolute;
    bottom: 0;
    color: #dadada;
    text-align:center;
    font-weight:bold;
    opacity: 0.5;
    transition: all .1s ease-in-out;
    font-size: .85em;
    word-wrap: break-word;
    width: 88px;
    margin:0 auto;
    padding: 3% 0;
    line-height: 14px;
}

.friendName:hover{
    opacity: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.42);
}

.friendsBoxPreview{
    text-align: center !important;
}