.userWallMain{
    padding: 0 !important;
    top: 330px;
    width: 850px !important;
    position: absolute;
}

.wallPostHeader{
    padding: 14px 0!important;
    background: #373737 !important;
    color: #fff !important;
    font-family: usernameFont, sans-serif;
    margin-bottom: 0 !important;
}

.wallPostHeaderText{
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.userWallPostButton{
    text-align: center !important;
    margin: 0 !important;
}

#submit-post-btn{
    display: block;
    margin: 0 auto;
    width: 80px;
}

.postTextarea{
    resize: none;
    height: 70px !important;
    max-width: 100%;
}

.userPagePostsSection{
    /*position: absolute !important;*/
    /*top: 145px;*/
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 !important;
}

.editCommentArea{
    margin-bottom: 10px;
    max-width: 450px;
    resize: none;
    padding: 6px 0 0 12px !important;
}

.textComment{
    text-overflow: ellipsis !important;
}

.postUserInfo{
    margin: 2px 0;
}

.dateTime{
    margin: 0;
    font-size: .85em;
    color: #808080;
    font-style: italic;
}

.profile-link{
    font-weight: 900;
    font-size: 1.1em;
    font-family: usernameFont, sans-serif;
}

.hover-box:hover{
    cursor: pointer;
}

.post-image, .post-info{
    display: inline-block;
    margin-left: 8px;
}

img.mini-thumbnail {
    width: 70px;
    height: 70px;
    border: 1px solid rgba(128, 128, 128, 0.28);
}

.post-content {
    margin: 10px 0 0 5px;
    padding: 0 1%;
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comments{
    margin: 0 0 3px 8px;
}

.options{
    display: inline-block !important;
    font-family: usernameFont, sans-serif;
    font-size: 1.1em;
    margin-bottom: 3px;
    margin-right: 8px;
}

.likeButton{
    padding: 0 !important;
    margin-left: 7px;
    font-family: cursive;
}

.postIcon{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.queryResult{
    color: #000;
    font-family: Courier New, monospace font-size;
}

.clickableIcon{
    opacity: .7;
    margin-left: 3px;
}

.clickableIcon:hover{
    cursor: pointer;
    opacity: 1;
}

.commentsSection{
    display: block;
}

.userCommentText {
    margin-left: 5px;
    border: ridge 2px;
    padding: 7px 11px !important;
    min-height: 3em !important;
    overflow: auto;
    background-color: #fff;
    resize: none;
}

.userCommentText:empty:not(:focus):before{
    content:attr(data-ph);
    font-size: .9em;
}

.commentAuthorSection{
    margin: 10px 0 0 7px;
}

.commentAuthorImage{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 100px;
}

.commentAuthorText{
    display: inline-block;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.submitButton{
    border-color: #476E91 !important;
    background-color: #476E91 !important;
}

.submitButton:hover{
    background-color: #517fa6 !important;
}

.commentButton{
    margin: 10px 0 0 !important;
}

.commentAuthorName{
    font-weight: 900;
}

.commentButton{
    color: #fff;
    font-family: usernameFont, sans-serif;
    border-radius: 3px;
    box-shadow: none;
    border: none;
    padding: 3px 15px !important;
}

/*Comments*/
.postCommentsSection{
    background: rgba(213, 213, 213, 0.98);
    padding: 0!important;
    margin-top: 10px;
    border-radius: 4px;
}

.comment-mini-thumbnail{
    width: 40px;
    height: 40px;
    vertical-align: bottom;
    border: 1px solid rgba(193, 193, 193, 0.60);
}

.commentTime{
    color: #000000;
}

.comment-info{
    margin-top: 5px !important;
}

.comment-content{
    padding: 0 0 0 3px !important;
}

.commentOptions{
    margin-top: 6px;
}

.editContentSection{
    margin-bottom: 10px !important;
}

.editContent{
    color: #000000 !important;
    resize: none;
    background: rgba(218, 218, 218, 0.34);
}

.editComment{
    background: rgba(186, 186, 186, 0.63) !important;
}

.btnEdit{
    margin: 10px 0;
}

.btnEditComment{
    font-size: .9em !important;
    padding: 1px 15px;
    margin: 7px 0;
}

.extraComments{
    margin-top: 8px;
    border: none;
    background: none;
}

.extraComments:hover{
    color: #226ECD;
}