<div ng-include="'templates/partial/navbar-header.html'"></div>
<main id="wrapper">
    <section ng-if="!isLogged" id="home-background-image-section">
        <img class="home-background-image" src="resourses/images/home-screen.jpg"/>
    </section>
    <section ng-if="isLogged" class="mainContent" ng-controller="UserController">
        <section class="col-lg-7"
                 ng-controller="PostController"
                 id="newsFeed"
                 infinite-scroll='getNewsFeed()'
                 ng-include="'templates/partial/news-feed.html'">
        </section>
        <aside id="friendAside" ng-include="'templates/partial/friends-preview.html'"></aside>
    </section>
</main>