<div ng-include="'templates/partial/navbar-header.html'"></div>
<main id="wrapper" ng-controller="UserController" ng-init="getUserPhotos()">
    <section class="col-lg-8 col-lg-offset-2" id="mainSection" ng-init="getUserFullData()">
        <div class="pageName">
            <p>Total Photos: {{userPhotos.totalCount}}</p>
        </div>
        <div ng-if="isCurrentUserWall(userFullData.username)" class="add-new-photo">
            <aside id="addPhoto" class="commentButton">
                <a href="#/users/{{userFullData.username}}/photos/add">
                    <button class="btn btn-primary blackButton">+ Add photo</button>
                </a>
            </aside>
        </div>
        <ul class="listSection listPreview">
            <li ng-repeat="photo in userPhotos.photos" class="listElementDistance col-lg-3">
                <div class="imagePreviewSection">
                    <a href="#/users/{{userFullData.username}}/photos/{{photo.id}}">
                        <img class="imagePreview" ng-src="{{photo.image}}" />
                    </a>
                </div>
            </li>
        </ul>
    </section>
</main>