<section class="clearfix friendBoxAside" id="friends-section" ng-controller="UserController" ng-init="getOwnFriendsPreview()">
    <div class="well bs-component">
        <div class="friendsCount" ng-init="userData()">
            <a class="friendsCountLink" href="#/me/friends/">
                <p class="friendsTitle">Friends - </p>
                <span class="friendsTotalCount">{{ownFriendsPreview.totalCount}}</span>
            </a>
        </div>
        <ul class="friendsBoxList">
            <li class="friendBoxPreviewElement" ng-repeat="friend in ownFriendsPreview.friends">
                <a href="#/users/{{friend.username}}/" class="friendsBoxPreview" >
                    <img class="friendBoxPreviewImage" ng-src="{{friend.profileImageData}}"/>
                    <div class="friendName">{{friend.name}}</div>
                </a>
            </li>
        </ul>
    </div>
</section>