<section ng-init="getOwnFriendsPreview()">
    <div class="friendsBox well bs-component">
        <div class="friendsCount" ng-init="userData()">
            <a class="friendsCountLink" href="#/me/friends/">
                <p class="friendsTitle">Friends - </p>
                <span class="friendsTotalCount">{{ownFriendsPreview.totalCount}}</span>
            </a>
        </div>
        <ul class="friendsBoxList">
            <li class="friendBoxPreviewElement" ng-repeat="friend in ownFriendsPreview.friends">
                <img class="friendBoxPreviewImage hover-box"
                     popup-show="templates/partial/user-preview.html"
                     ng-click="getUserPreviewData(friend.username)"
                     ng-src="{{friend.profileImageData}}"/>
                <a href="#/users/{{friend.username}}/" class="friendsBoxPreview">
                    <div class="friendName">{{friend.name}}</div>
                </a>
            </li>
        </ul>
    </div>
</section>